@font-face{font-family:'Saira Condensed';font-style:normal;font-weight:700;font-display:swap;src:url('saira-700.woff2') format('woff2');}
@font-face{font-family:'Saira Condensed';font-style:normal;font-weight:900;font-display:swap;src:url('saira-900.woff2') format('woff2');}
@font-face{font-family:'Chakra Petch';font-style:normal;font-weight:600;font-display:swap;src:url('chakra-600.woff2') format('woff2');}
@font-face{font-family:'Chakra Petch';font-style:normal;font-weight:700;font-display:swap;src:url('chakra-700.woff2') format('woff2');}
@font-face{font-family:'DRG Sans CJK';font-style:normal;font-weight:400;font-display:swap;src:url('notosc-400.woff2') format('woff2');}
@font-face{font-family:'DRG Sans CJK';font-style:normal;font-weight:700;font-display:swap;src:url('notosc-400.woff2') format('woff2');}
